ul {
  padding-left: 0;
  list-style: none;
}

h1 {font-size: 42px;}

h2 {font-size: 22px;}

p {
  font-size: 20px;
  line-height: 35px;
}

.views {
  padding: 3vh 10vw;
  height: 100vh;
  background-color: red;
}

.section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}